################################################################
##
## Sukruth Example Logger
##
################################################################
/.vs
/SukruthExampleLogger/bin
/SukruthExampleLogger/obj
